@use 'index' as *;

input {
    width: 100%;
    border: 1px solid $primary-color;

    &#password-input {
        background: url('/assets/icons/password.svg') no-repeat 2rem center;
        padding: 1.5rem 3rem 1.5rem 6rem;
    }
}

.password-input-wrapper {
    position: relative;
    width: 100%;

    .password-toggle {
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        svg {
            path {
                fill: $primary-color;
                transition: all 125ms ease;
            }
        }

        &:hover {
            svg {
                path {
                    fill: $secondary-color;
                }
            }
        }
    }
}