@use "index" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    font-size: 8px;
    color: $secondary-color;
    background-color: transparent;
    line-height: 1;
}

body {
    height: 100dvh;
    width: 100dvw;
    background-color: $bg-color;
    display: flex;
    justify-content: center;

    app-root {
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 1920px;
        display: flex;
        justify-content: center;
        align-items: center;

        app-landing,
        app-legal-notice,
        app-login,
        app-register {
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }
}

h1 {
    font-size: 5rem;
    font-weight: 700;

    @include respond-to(medium) {
        font-size: 6rem;
    }
}

h2 {
    font-size: 3rem;
    font-weight: 700;

    @include respond-to(medium) {
        font-size: 4rem;
    }
}

h3 {
    font-size: 3rem;
    font-weight: 400;

    @include respond-to(medium) {
        font-size: 4rem;
    }
}

h4 {
    font-size: 2rem;
    font-weight: 700;

    @include respond-to(medium) {
        font-size: 3rem;
    }
}

h5 {
    font-size: 2rem;
    font-weight: 400;

    @include respond-to(medium) {
        font-size: 3rem;
    }
}

h6 {
    font-size: 2rem;
    font-weight: 400;

    @include respond-to(medium) {
        font-size: 2rem;
    }
}


p {
    font-size: 2rem;
    font-weight: 400;
}

a {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;

    &:hover {
        text-decoration: underline;
    }
}

button {
    background-color: $primary-color;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    padding: 1.5rem 3rem;
    color: $secondary-color;
    transition: all 125ms ease;
    transform-origin: center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        box-shadow:
            0 0 0 0.075rem $secondary-color,
            0 0 0 0.15rem $primary-color,
            0 0 0 0.25rem $primary-color,
            0 0 0 0.5rem $secondary-color,
            0 0 0 1rem $primary-color;
        border-radius: 5rem;
        background: $secondary-color;
        color: $primary-color;
    }

    &:active {
        color: $primary-color;
        background: $secondary-color;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 0.25rem rgba($primary-color, 0.5);
    }

    &:disabled {
        filter: grayscale(50%);
        cursor: not-allowed;
    }
}

input {
    border: 0.15rem solid $secondary-color;
    border-radius: 5rem;
    padding: 1.5rem 3rem;
    background-color: $textfield-background;
    font-size: 2rem;

    &:focus {
        outline: none;
        border-color: $primary-color;
    }

    &::placeholder {
        color: $secondary-color;
    }
}