<div class="vjs-progress">

    <span class="vjs-current-time">{{ progressTime | videoTime }}</span>

    <div class="progress-container" (mousemove)="updateTooltip($event)" (mouseleave)="hideTooltip()"
        (click)="onProgressClick($event)" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)"
        (touchend)="onTouchEnd($event)">

        <div class="progress-track">

            <div class="progress-buffered" [style.width.%]="bufferedPercentage"></div>

            <div class="progress-current" [style.width.%]="progressPercentage"></div>

            <div class="progress-handle" [style.left.%]="progressPercentage" [class.visible]="isScrubbing"></div>
        </div>

        <input type="range" class="progress-slider" min="0" [max]="videoDuration" step="0.01" [value]="progressTime"
            (mousedown)="onSeekStart()" (input)="onScrubbing($event)" (change)="onSeekEnd($event)"
            (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)" />

        @if(showSeekTooltip) {
            <div class="time-tooltip" [style.left.px]="seekTooltipPosition">
                <div class="tooltip-content">
                    {{ seekTooltipTime | videoTime }}
                </div>
                <div class="tooltip-arrow"></div>
            </div>
        }
    </div>

    <span class="vjs-duration">{{ videoDuration | videoTime }}</span>
</div>