<app-orientation-warning message="Please rotate your device to landscape mode for the best video experience"
    [requiredOrientation]="'landscape'" [showOnlyOnMobile]="true" />

<section class="vjs-video-container" [class.hide-cursor]="!showOverlay && playerState.isPlaying()">

    <video #vjs id="my-player" class="video-js vjs-theme-netflix" playsinline preload="metadata"></video>

    <div class="video-overlay" [class.hidden]="!showOverlay">

        <app-top-bar />

        <app-center-controls />

        <app-bottom-bar [playbackSpeed]="playbackSpeed" [showSpeedMenu]="showSpeedMenu" [isFullscreen]="isFullscreen"
            [isScrubbing]="isScrubbing" (seek)="timeJump($event)" (speedChange)="setPlaybackSpeed($event)"
            (speedMenuToggle)="toggleSpeedMenu()" (fullscreenToggle)="toggleFullscreen()" (seekStart)="onSeekStart()"
            (scrubbing)="onScrubbing($event)" (seekEnd)="onSeekEnd($event)" />
    </div>
</section>