<app-header [responsiveLogo]="true" [loginButton]="true" />

<section class="password">

    <div class="password__container">

        @if(passwordReset) {

            <form [formGroup]="resetForm" (ngSubmit)="submitResetForm()" class="password__container__form">

                <h1>Reset password</h1>

                <div class="password__container__form__inputfields">

                    <p>Create a new password for your <span>Videoflix</span> account.</p>

                    <app-password-input placeholder="Enter a password" [password]="password" />

                    <app-password-input placeholder="Confirm Password" [password]="confirmedPassword" />

                </div>

                <button type="submit" class="password__container__form__buttons__login"
                    [disabled]="resetForm.invalid">Reset my password</button>

            </form>

        } @else if(passwordForget)  {

            <form [formGroup]="forgetForm" (ngSubmit)="submitForgotForm()" class="password__container__form">

                <h1>Forgot your password?</h1>

                <div class="password__container__form__inputfields">

                    <p>We will send you an email with instructions to reset your password.</p>

                    <app-email-input placeholder="Email Address" [email]="email" />

                </div>

                <button type="submit" class="password__container__form__buttons__login"
                    [disabled]="forgetForm.invalid">Send Email</button>

            </form>

        } @else if(accountVerify) {

            <form class="password__container__form">

                <h1>Account Verified</h1>

                <div class="password__container__form__text">
                    <p>Your account has been successfully verified. You can now log in.</p>
                </div>

                <button type="button" (click)="toLogin()" class="password__container__form__continue">Log In</button>

            </form>

        } @else if(emailSent) {

            <form class="password__container__form" (ngSubmit)="toHome()">

                <h1>Email Sent</h1>

                <div class="password__container__form__text">
                    <p>If an account with this email address exists, you'll receive an email with further instructions.
                    </p>
                </div>

                <button type="submit" class="password__container__form__continue">Home</button>

            </form>

        } @else if(passwordResetSuccess) {

            <form class="password__container__form" (ngSubmit)="toLogin()">

                <h1>Password Reset Successful</h1>

                <div class="password__container__form__text">
                    <p>Your password has been changed. You can now log in.</p>
                </div>

                <button type="submit" class="password__container__form__continue">Log In</button>

            </form>

        }

    </div>

</section>

<app-footer />