<app-header [responsiveLogo]="true" [loginButton]="true" />

<section class="password">

    <div class="password__container">

        @if(passwordReset) {

            <form action="" class="password__container__form">

                <h1>Log In</h1>

                <div class="login__container__form__inputfields">

                    <input type="email" placeholder="Email Address" />

                    <div class="password-input-wrapper">

                        <input id="password-input" type="password" placeholder="Password" />

                        <app-password-input />

                        <app-password-input />

                    </div>

                </div>

                <div class="login__container__form__buttons">

                    <button type="submit" class="login__container__form__buttons__login">Log In</button>

                    <a class="login__container__form__buttons__forgotpassword bold">Forgot Password?</a>

                    <div class="login__container__form__buttons__signup">

                        <p>New to Videoflix?</p>

                        <a routerLink="/signup" class="bold">Sign Up now</a>

                    </div>

                </div>

            </form>

        } @else if(passwordForget)  {

            <form action="" class="password__container__form">

                <h1>Log In</h1>

                <div class="login__container__form__inputfields">

                    <input type="email" placeholder="Email Address" />

                    <app-password-input />

                </div>

                <div class="login__container__form__buttons">

                    <button type="submit" class="login__container__form__buttons__login">Log In</button>

                    <a class="login__container__form__buttons__forgotpassword bold">Forgot Password?</a>

                    <div class="login__container__form__buttons__signup">

                        <p>New to Videoflix?</p>

                        <a routerLink="/signup" class="bold">Sign Up now</a>

                    </div>

                </div>

            </form>

        } @else if(passwordVerify) {

            <form action="" class="password__container__form">

                <h1>Log In</h1>

                <div class="login__container__form__inputfields">

                    <input type="email" placeholder="Email Address" />

                </div>

                <div class="login__container__form__buttons">

                    <button type="submit" class="login__container__form__buttons__login">Log In</button>

                    <a class="login__container__form__buttons__forgotpassword bold">Forgot Password?</a>

                    <div class="login__container__form__buttons__signup">

                        <p>New to Videoflix?</p>

                        <a routerLink="/signup" class="bold">Sign Up now</a>

                    </div>

                </div>

            </form>

        }

    </div>

</section>

<app-footer />