<div class="vjs-bottom">

    <div class="vjs-bottom-wrapper">
        <div class="vjs-controls left">

            <app-play-button (playToggle)="onTogglePlay()" />

            <app-seek-button direction="back" [seconds]="10" (seek)="onTimeJump($event)" />

            <app-seek-button direction="forward" [seconds]="10" (seek)="onTimeJump($event)" />

            <app-volume-control />


        </div>

        <app-video-title [title]="title"></app-video-title>

        <div class="vjs-controls right">

            <app-speed-control [playbackSpeed]="playbackSpeed" [showSpeedMenu]="showSpeedMenu"
                (speedChange)="speedChange.emit($event)" (speedMenuToggle)="speedMenuToggle.emit()" />

            <app-fullscreen-button [isFullscreen]="isFullscreen" (fullscreenToggle)="fullscreenToggle.emit()" />

        </div>

        <app-progress-bar />

    </div>
</div>