<app-header [logoutButton]="true" [shortLogo]="true" />
<app-footer />

<section class="dashboard">

    <div class="dashboard__top">
        <app-featured [class.hide]="!showFeaturedVideo" [video]="featuredVideo" />
        <button class="close-button" [class.hide]="!showFeaturedVideo" (click)="hideFeaturedVideo()">Close</button>
    </div>

    <div class="dashboard__bottom">
        @for (collection of videoCollection; track $index) {
            <app-slider [collection]="collection" (videoSelected)="onVideoSelected($event)" />
        }
    </div>



</section>